<% if object.errors.any? %>
   <div class="alert alert-danger">
      <h5>Please fix the following <%= pluralize_without_count(object.errors.count, "error") %>:</h5>
      <ul>
         <% object.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
         <% end %>
      </ul>
   </div>
<% end %>