
<!-- <p class="pull-right">
  <%# link_to 'Edit', edit_category_path(@category) %> | 
  <%# link_to 'Delete', category_path(@category), 
                        method: :delete, 
                        data: { confirm: "Are you sure ?" } %>
</p> -->

<% all_posts = link_to 'All Posts', posts_path %>
<%= render 'shared/content_title', title: "#{all_posts} > #{@category.name}".html_safe %>

<%= render @category.posts.order(created_at: :desc) %>



